@using TheBlogProject.ViewModels
@model ContactMe


<div class="container">
    <h1>Contact me</h1>
    <form asp-action="Contact">
        <div class="form-group">

            <div class="form-group floating-label-form-group controls">
                <label class="form-label" asp-for="Name">Name</label>
                <input type="text" class="form-control" placeholder="Name" asp-for="Name" required data-validation-required-message="Please enter your name" />
                <p class="help-block text-danger"></p>
            </div>

            <div class="form-group floating-label-form-group controls">
                <label class="form-label" asp-for="Email">Email</label>
                <input type="email" asp-for="Email" class="form-control" placeholder="user@email.com" required data-validation-required-message="Please enter a valid email address" />
                <p class="help-block text-danger"></p>
            </div>

            <div class="form-group floating-label-form-group controls">
                <label class="form-label" asp-for="Subject">Subject</label>
                <input type="text" asp-for="Subject" class="form-control" placeholder="Subject" required data-validation-required-message="Please enter subject for your message" />
                <p class="help-block text-danger"></p>
            </div>

            <div class="form-group floating-label-form-group controls">
                <label class="form-label" asp-for="Message">Message</label>
                <textarea asp-for="Message" class="form-control" placeholder="Message" required data-validation-required-message="Please enter your message"></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <br />
            <div id="success"></div>
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Contact Me</button>

        </div>
    </form>
</div>